
.call-interface {
    width:400px;
    position:fixed;
    top:10px;
    right:10px;
    display:flex;
    flex-direction: column;
    gap:5px;
    z-index:100;
}

.call-interface .main-bar,
.call-interface .member-list {
    background-color:#e6e5e5;
    box-shadow: 0 0 2px 0 grey;
    padding:6px;
}

.call-interface .main-bar {
    width:100%;
    display:flex;
    gap:5px;
    align-items:center;
}

.call-interface .chat-info {
    display:grid;
    grid-template-columns: auto 1fr;
    grid-template-rows:auto auto;
    column-gap:5px;
    row-gap:1px;
}

.call-interface button {
    flex-shrink:0;
}

.call-interface .chat-avatar {
    grid-row:1/3;
    height:45px;
}

.call-interface .chat-name {
    margin:0;
    font-size:16px;
    align-self:end;
}

.call-interface .member-count {
    margin:0;
    font-size:15px;
    color:#373737;
}





.call-interface .member-list {
    display:flex;
    flex-direction: column;
    gap:6px;
    max-height:200px;
    width:100%;
    overflow-y:auto;
}

.call-interface .member {
    display:grid;
    grid-template-rows:auto auto;
    grid-template-columns: auto 1fr auto;
    width:100%;
    column-gap:5px;
    flex-shrink: 0;
}

.call-interface .member .avatar-wrapper {
    display:block;
    grid-row:1/3;
    align-self:center;
    height:45px;
}

.call-interface .member .avatar {
    height:100%;
}

.call-interface .member .toggle-muted {
    grid-row:1/3;
    align-self:center;
    grid-column:3;
}

.call-interface .member-name {
    width:100%;
}

.call-interface .volume {
    display:flex;
    gap:10px;
    align-items: center;
}

.call-interface .volume > * {
    margin:0;
}

.call-interface .volume input {
    padding:0;
    width:160px;
}
