
.call-interface {
    max-width:400px;
    position:fixed;
    bottom:20px;
    left:15px;
    display:flex;
    flex-direction: column;
    gap:5px;
    z-index:150;
}

.call-interface.hidden {
    display:none;
}

.call-interface .main-bar,
.call-interface .member-list {
    background-color:#e6e5e5;
    box-shadow: 0 0 2px 0 grey;
    padding:6px;
}

.call-interface .main-bar {
    width:100%;
    display:flex;
    gap:5px;
    align-items:center;
}

.call-interface .chat-info {
    width:100%;
    display:grid;
    grid-template-columns: auto 1fr;
    grid-template-rows:auto auto;
    column-gap:5px;
    row-gap:1px;
}

.call-interface button {
    flex-shrink:0;
}

.call-interface .chat-avatar {
    grid-row:1/3;
    height:45px;
}

.call-interface .chat-name {
    margin:0;
    font-size:16px;
    align-self:end;
}

.call-interface .member-count {
    margin:0;
    font-size:15px;
    color:#373737;
}

.call-interface.compact .main-bar > *:not(.toggle-interface) {
    display:none;
}

.call-interface.compact .member-list {
    display:none;
}

.call-interface.hide-member-list .member-list {
    display: none;
}


.call-interface .member-list {
    display:flex;
    flex-direction: column;
    gap:6px;
    max-height:200px;
    width:100%;
    overflow-y:auto;
}

.call-interface .member {
    display:grid;
    grid-template-rows:auto auto;
    grid-template-columns: auto 1fr auto;
    width:100%;
    column-gap:5px;
    flex-shrink: 0;
}

.call-interface .member .avatar-wrapper {
    display:block;
    grid-row:1/3;
    align-self:center;
    height:45px;
}

.call-interface .member .avatar {
    height:100%;
}

.call-interface .member-name {
    max-width:100%;
    width:max-content;
}

.call-interface .volume {
    display:flex;
    gap:10px;
    align-items: center;
}

.call-interface .volume > * {
    margin:0;
}

.call-interface .volume input {
    padding:0;
    width:160px;
    transition:opacity .2s ease-in-out;
}

.call-interface .member.muted .volume input {
    opacity: 0.75;
    pointer-events: none;
}

.call-interface .toggle-muted {
    position: relative;
    transition: opacity .2s ease-in-out;
}

.call-interface .member .toggle-muted {
    grid-row:1/3;
    align-self:center;
    grid-column:3;
}

.call-interface.muted .toggle-muted,
.call-interface .muted .toggle-muted {
    opacity: 0.75;
}

.call-interface .toggle-muted::after {
    position:absolute;
    content:'';
    top:3px;
    left:3px;
    border-radius:8px;
    background-color: #ff000098;
    width: 100%;
    height:3px;
    transform-origin: left bottom;
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.call-interface.muted .toggle-muted::after,
.call-interface .muted .toggle-muted::after {
    opacity: 1;
}

.call-interface .member.me .volume,
.call-interface .member.me .toggle-muted {
    display:none;
}
.call-interface .member.me .member-name {
    grid-row:1/3;
    grid-column:2/4;
    align-self:center;
}

@media (max-width:400px) {
    .call-interface {
        left:10px;
        bottom:10px;
    }
    .call-interface:not(.compact) {
        width:calc(100% - 20px);
    }

    .call-interface .main-bar button {
        font-size:1.1em;
    }
}


