
.context-window {
    position:absolute;
    display:none;
    z-index:100;
    background:white;
    box-shadow:0 0 2px 0 black;
    min-width: 50px;
    min-height: 50px;
    top:0;
    left:0;
}

@keyframes cw-open {
    from {
        opacity: 0;
        transform: scale(50%);
    }
    to {
        opacity: 1;
        transform:scale(100%);
    }
}

@keyframes cw-close {
    from {
        opacity: 1;
        transform: scale(100%);
    }
    to {
        opacity: 0;
        transform:scale(50%);
    }
}

.cw-buttons {
    padding:0;
    overflow:hidden;
}

.cw-buttons ul {
    margin:0;
    padding:0;
    list-style-type: none;
    width:min-content;
}

.cw-buttons li {
    width: 100%;
}
.cw-buttons button {
    padding:5px 8px;
    width: 100%;
    border-radius:0;
    text-align: left;
}