extends index

append body 
    script 
        include js/chatlist.js

append header 
    style 
        include css/chatlist.css

block main
    h1.page-header Сообщения
    button.create-chat Создать чат
    ul.chatlist

append body
    script(template="chat-view", type="text/x-ejs-template")
        <% let cls = (voice && 'voice') + ' ' + (unread && 'unread') %>
        li.block.chat(chatid!="<%=chat_id%>", class!="<%=cls%>")
            img.avatar(src!="/getchatavatar?id=<%=chat_id%>")
            span.finite.title <%= chat_name %>
            span.datetime <%= datetime_label %>
            p.finite.last-msg-preview <%= lm_preview %>
            a.button.light.dots ...
            .event-icons
                span.new-msg(text!="<%= unread %>")
                span.call(text="📞")

    script(template="friend", type="text/x-ejs-template")
        li
            img.avatar(src!="/getuseravatar?id=<%=id%>")
            a.clean.finite.name <%= name %>
            input(type="checkbox", class="include-friend")
    
    script(template="create-chat", type="text/x-ejs-template")
        .create-info
            img.avatar(src="/public/chatavatar.jpg")
            input(type="text", class="name", placeholder="NAME", id="name")
            .public 
                input(type="checkbox", id="is-public", class="is-public")
                label(for="is-public") Публичный
        ul.block.styled-scroll.friendlist
        