extends index

include units

append header 
    script(src="/socket.io/socket.io.js")
    script(src="https://unpkg.com/peerjs@1.5.1/dist/peerjs.min.js")
    style 
        include css/chat.css
        include css/content.css
append body 
    script 
        include js/chat.js

block main
    .chat-header.block 
        .info(onclick='alert("options")')
            img.avatar
            span.chat-name.finite
            span.subinfo.finite
        .actions 
            button.join-call Звонить
            button.leave-call Отключиться

    .voice-chat.block
        .preview
            span.list.finite В звонке:
            span.count (
                b.num 0
                | 
                span участников
                |)
        .voice-controls
            .personal
                span Ваш микрофон
                button.mute Включен
            .wrapper.styled-scroll
                ul.members

    .holder-wrapper.block.styled-scroll
        .load-zone
        .holder 
    .input-bar
        input.entry(type="text", placeholder="Сообщение")
        input#file.thin(type="button", value="📁")
        input#send.thin(type="button", value="📨")