extends index

append body 
    script 
        include js/chatlist.js

append header 
    style 
        include css/chatlist.css

block main
    h1.page-header Сообщения
    button.create-chat Создать чат
    ul.chatlist

append body
    script(template="chat-view", type="text/x-ejs-template")
        li.block.chat(chatid!="<%=view.id%>", class!="<%=utils.classAttr({newmsg: view.unread > 0})%>")
            img.avatar(src!="/getchatavatar?id=<%=view.id%>")
            span.finite.title <%= view.name %>
            span.datetime <%= utils.getMessageDatetimeLabel(view.lm.datetime) %>
            .lm-preview(class!="<%=utils.classAttr({mine: view.lm.mine, read: view.lm.read})%>")
                p.finite.content <%= view.lm.preview %>
                span.status
            span.newmsg <%= view.unread %>

    script(template="friend", type="text/x-ejs-template")
        li
            img.avatar(src!="/getuseravatar?id=<%=id%>")
            a.clean.finite.name <%= name %>
            input(type="checkbox", class="include-friend")
    
    script(template="create-chat", type="text/x-ejs-template")
        .create-info
            img.avatar(src="/public/chatavatar.jpg")
            input(type="text", class="name", placeholder="NAME", id="name")
            .public 
                input(type="checkbox", id="is-public", class="is-public")
                label(for="is-public") Публичный
        ul.block.styled-scroll.friendlist
        