extends index


append header 
    title Банк CoffeTox
    style 
        include css/ebank.css
    
append body
    script 
        include js/ebank.js

block main
    h1.page-header Банк CoffeeTox
    span.balance Ваш баланс:
        span.value= balance 
    h2 Перевести человеку
    form(name="ebank")