extends index


append header 
    title Банк CoffeTox
    style 
        include css/ebank.css
    
append body
    script 
        include js/ebank.js

block main
    h1.page-header Банк CoffeeTox
    .stats.block
        span.balance= balance + ' EBL'
        span.capital= 'Капитал: ' + (100*capital).toFixed(2) + '%'
    h2 Перевести человеку
    form(name="ebank")
