extends index


append header 
    title Банк CoffeeTox
    style 
        include css/ebank.css
    
append body
    script 
        include js/ebank.js

block main
    h1.page-header Банк CoffeeTox
    .stats.block
        span.balance= balance + ' EBL'
        span.capital= 'Капитал: ' + (capital).toFixed(2) + '%'
    a.clean(href="/capitallb") Лидерборд капитала
    h2 Перевести человеку
    form(name="ebank")
