extends index


append header 
    title Банк CoffeTox
    style 
        include css/ebank.css
    
append body
    script 
        include js/ebank.js

block main
    h1.page-header Банк CoffeeTox
    .stats.block
        span.balance 50 EBL
        span.capital 20.52%
    h2 Перевести человеку
    form(name="ebank")
