extends index


append header 
    title Банк CoffeeTox
    style 
        include css/ebank.css
    
append body
    script 
        include js/ebank.js

block main
    h1.page-header Банк CoffeeTox
    .stats.block
        span.balance= balance + ' EBL'
        span.capital= 'Капитал: ' + (capital).toFixed(2) + '%'
    a.clean(href="/capitallb", style="display:block;margin-top:15px") Лидерборд капитала
    a.clean(href="javascript:openTransactions()") Последние переводы
    h2 Перевести человеку
    form(name="ebank")

    script(type="text/x-ejs-template", template="transactions")
        .table-wrapper.styled-scroll 
            table.ebank-table.transactions
                tr 
                    th Пользователь
                    th Комментарий
                    th Дата и время
                    th Сумма
                | <% transactions.forEach(t => { %>
                tr
                    td.user-wrapper
                        .user 
                            img.avatar(src!="/getuseravatar?id=<%=t.target_id%>")
                            a.clean(href!="/user?id=<%=t.target_id%>") <%=t.target_name%> 
                    td.comment 
                        p <%= t.comment || "-" %>
                    td.datetime 
                        span <%= utils.getPostDatetimeLabel(t.datetime) %>
                    td.amount
                        | <% if (t.to_me) { %>
                        span.positive +<%=t.amount%> EBL
                        | <% } else { %>
                        span.negative -<%=t.amount%> EBL
                        | <% } %>
                | <% }) %>