doctype html 
html 
    head
        style
            include css/style.css
        title Ошибка!
    body
        .global-wrapper
            .error 
                h1(style="margin-bottom:20px") Ошибка!
                p.block(style="display:inline-block;margin:0")!= error.replace(/\n/g, '<br>')
                a(style="display:block;margin-top:20px", href="/") Вернуться на сайт
