extends index


include ../client_modules/popup/index
include ../client_modules/inspect/index
include ../client_modules/uploader/index
include ../client_modules/form/index

append script 
    include js/form.js

block header 
    title= form.title

append main
    h1.page-header
    form(name=form.meta.name)



