extends index

append body 
    script 
        include js/form.js
        | loadForm();

block header 
    - let titleText = form.meta.title ?? 'Форма'
    title= titleText 

append main
    h1.page-header
    form(name=form.meta.name)



