extends index

append script 
    include js/game.js

append style 
    include css/game.css

block header 
    title Игра

append main
    .game-content!= _content
    
    form(name="game-input")
        +form(_form)


