extends index

include ../utils/form.pug

include ../client_modules/popup/index
include ../client_modules/inspect/index
include ../client_modules/uploader/index
include ../client_modules/form/index

append script 
    include js/game.js

append style 
    include css/game.css

block header 
    title Игра

append main
    .game-content!= _content
    
    form(name="game-input")
        +form(_form)


