extends index

append script 
    include js/gamelist.js

append style 
    include css/gamelist.css

mixin game(data)
    li.game-tile.block(gameid=data.id)
        span.title= data.title
        p.description= data.descr

block main
    h1.page-header Доступные игры
    ul.game-list
        each data in Object.values(games)
            +game(data)

    hidden#gameinfo
        p.description heyyyy 
        