
mixin nav(n)
    nav
        each k in Object.keys(n)
            a.button(href=n[k].link, id='nav' + k)
                span.label= n[k].text
                span.unread.zero

doctype html 
html 
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon" href="/public/coffee.png")
        script(src="https://cdn.jsdelivr.net/npm/ejs@3.1.9/ejs.min.js")
        style
            include css/style.css
            block style
        block header
        title CoffeeTox
    body
        .global-wrapper 
            .main-grid 
                header 
                    .logo 
                        a.button.light(href="/") ☕tox
                    .current 
                        if user !== null
                            a.clean(href="/user?id=" + user.id)= user.name
                            a.button.light(href="/logout", recurrent) 🚪
                        else
                            a.clean(href="/form?name=login", recurrent) Вход
                        a.burger.clean(href="javascript:callMenu()") МЕНЮ
                +nav(nav)
                main.styled-scroll
                    block main
                footer 
                    span CoffeeTox ☕
        
        script(type="text/x-ejs-template", template="menu")
            .wrapper 
                +nav(nav)
                .menu-footer
                    span CoffeeTox 2024
        
        script
            include js/script.js

        block body