doctype html 
html 
    head
        style
            include css/style.css
            block style
        block header
        title CoffeeTox
    body
        .global-wrapper 
            .main-grid 
                header 
                    .logo 
                        a.button(href="/") ☕tox
                    .current 
                        if user !== null
                            a.clean(href="#")= user.name
                            a.button(href="/logout", recurrent) 🚪
                        else
                            a.clean(href="/form?name=login", recurrent) Вход
                nav 
                    each link, text in nav
                        a.button(href=link)=text
                main.styled-scroll
                    block main 
                footer 
                    span CoffeeTox ☕
        block body
        script
            include js/script.js
            block script
            block scripthead 
