extends index_raw 

include ../client_modules/uploader/index
include ../client_modules/utils/index
include ../client_modules/form/index
include ../client_modules/dragndrop/index
include ../client_modules/errbox/index
include ../client_modules/templates/index
include ../client_modules/popup/index
include ../client_modules/inspect/index
include ../client_modules/menu/index
include ../client_modules/avatar/index
include ../client_modules/feed/index
include ../client_modules/notifications/index
include ../client_modules/contextwindow/index
include ../client_modules/list/index
include ../client_modules/call/index

append body 
    script  
        include js/hey.js