extends index 

include units

append header
    style 
        include css/content.css

block main
    h2 Реакция Карачинского на пересдачу ЕГЭ
    video(style="max-width:100%;", width="275", controls)
        source(src="/public/karachinsky.mp4", type="video/mp4")
    h1.page-header Новости Кофетокс
    .feed

append body 
    script
        include js/posts.js

        
