extends index 

include units

append header
    style 
        include css/content.css

block main
    h1.page-header Новости Кофетокс
    img(src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.shutterstock.com%2Fru%2Fsearch%2Fcoca-cola-logo&psig=AOvVaw36TvR6fVFheMvZl59IKtM-&ust=1709321286020000&source=images&cd=vfe&opi=89978449&ved=0CBMQjRxqFwoTCLCm9ZGk0YQDFQAAAAAdAAAAABAE")
    span Сосите херес все зависимые (mr Т.)
    .feed

append body 
    script
        include js/posts.js

        
