extends index 

include units

include ../client_modules/utils/index
include ../client_modules/templates/index
include ../client_modules/popup/index
include ../client_modules/inspect/index
include ../client_modules/uploader/index


append style
    include css/content.css
    include css/posts.css

block main
    h1.page-header Новости Кофетокс
    .posts

append body 
    script
        include js/posts.js

        
