extends index 

include units

append header
    style 
        include css/content.css

block main
    h1.page-header Новости Кофетокс
    img(style="width:100%;", src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ce/Coca-Cola_logo.svg/1024px-Coca-Cola_logo.svg.png")
    span Сосите херес все зависимые (mr Т.)
    .feed

append body 
    script
        include js/posts.js

        
