extends index 

include units

append header
    style 
        include css/content.css

block main
    | <iframe width="1280" height="677" src="https://www.youtube.com/embed/pPw_izFr5PA" title="6IX9INE- GOOBA (Official Music Video)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    
    h1.page-header Новости Кофетокс
    .feed

append body 
    script
        include js/posts.js

        
