let formData = new FormData()
                    let blob = new Blob([d.output], {type: 'image/jpeg'})
                    formData.append('avatar', blob)
    
                    fetch('/setavatar', {
                        method: 'POST',
                        credentials: 'same-origin',
                        body: formData
                    })
                    .then((r) => r.json())
                    .then((r) => {
                        if (r.success)
                            alert('Успешно!')
                        else
                            alert('Ошибка...')
                    })