extends index

block main 
    img.avatar(src="/getuseravatar?id=" + user.id)
    button.button.set-avatar Сменить аватарку
    button.button.enable-notifications Включить оповещения

append body
    script 
        include js/settings.js