extends index 

include units

append header
    style 
        include css/stickerpacks.css

block main
    h1.page-header Стикеры
    .stickerpacks
        each spack in stickerpacks 
            .stickerpack.block 
                img.preview(src=`/public/stickers/${spack.tag}/0.png`)
                span.finite.name= spack.name 
                if spack.available 
                    span.available Доступно
                else 
                    span.price= spack.price + ' EBL'

append body 
    script
        include js/stickerpacks.js
