extends index


include ../client_modules/popup/index
include ../client_modules/inspect/index
include ../client_modules/uploader/index
include ../client_modules/form/index


append main 
    form(name="reg")

append script 
    include js/test.js