extends index 

include units

append header
    style 
        include css/content.css
    style 
        include css/user.css

append body 
    script 
        include js/user.js

block main
    .user 
        img.avatar(src='/getuseravatar?id=' + target.id)
        .info 
            h2.name= target.name 
            span.tag= '@' + target.tag
            span.last-seen Был в сети вчера в 17:23
            p.bio= target.bio
            a.friends(href="#") 25 друзей...
        .actions 
            a.button.direct(href="/direct?with=" + target.id) Сообщение...
            a.button.add-friend(href="#") Добавить в друзья
            a.button.ebank(href="#") Перевести EBL...

    .feed(style="margin-top:20px;")
