extends index 

include units

append header
    style 
        include css/content.css
    style 
        include css/user.css

append body 
    script 
        include js/user.js

block main
    .user 
        img.avatar(src='/getuseravatar?id=' + target.id)
        .info 
            h2.finite.name Coffeetox.ru
            span.finite.tag @coffeetox
            span.last-seen Был в сети вчера в 17:23
            p.bio I'm cringe but I am free Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, voluptates.
            a.friends(href="#") 25 друзей...
        .actions 
            a.button.direct Сообщение...
            a.button.add-friend Добавить в друзья
            a.button.ebank Перевести EBL...

    .feed(style="margin-top:20px;")
