extends index 

include units

append header
    style 
        include css/content.css
    style 
        include css/user.css

append body 
    script 
        include js/user.js

block main
    .user 
        img.avatar(src='/getuseravatar?id=' + target.id)
        .info 
            h2.name Coffeetox.ru
            span.tag @coffeetox
            span.last-seen Был в сети вчера в 17:23
            p.bio I'm cringe but I am free 
            a(href="#") 25 друзей...
        .actions 
            a.button.direct Сообщение...
            a.button.add-friend Добавить в друзья
            a.button.ebank Перевести EBL...

    
    if user && target.id == user.id 
        a.button.set-avatar(style="display:block;margin-bottom:10px;width:max-content") Назначить аватарку
    
    .user-info
        span.tag= '@' + target.tag
        a.button(href="/direct?with=" + target.id) Сообщение 
    .feed(style="margin-top:10px;")
