
append header
    style 
        include style.css 

append body
    script 
        include script.js
    script(type="text/x-ejs-template", template="post")
        .post.block(id!="post<%=data.id%>")
            .top-bar 
                a.author.button.light(href!="/user?id=<%=data.author_id%>")
                    img.avatar(src!="/getuseravatar?id=<%=data.author_id%>")
                    span.finite.name <%=data.author_name%>
                    span.datetime <%=utils.getPostDatetimeLabel(data.datetime, true)%>
                button.button.dots.light ...
            <% if (data.title) { %>
                span.title <%=data.title%>
            <% } %>
            <%- templateManager.createHTML("post-content", data) %>
            .actions 
                button.button.like 👍
                button.button.dislike 👎
                select.button.donate
                    option(style="display:none", value="default", selected) Пожертвовать
                    option(value="10") 10EBL
                    option(value="25") 25EBL
                    option(value="50") 50EBL
                    option(value="100") 100EBL
                    option(value="cancel") Отмена
            
            .comment-section 
                hr
                a.load-more.button.light(href="#") Загрузить еще N комментариев
                ul.comments
                    li 
                        img.avatar(src="/getuseravatar?id=70")
                        .info 
                            a.name.finite.button.light.shifted(href="/user?id=70") Feydl Ben Smuel Khanin
                            span.datetime Вчера в 02:39
                        p.text сосните Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia tempore reprehenderit modi placeat quae expedita sed magni ut? Deserunt nulla fuga aut placeat ea consequatur facere delectus error debitis cupiditate enim quisquam porro voluptates, provident, ducimus quidem. Repellendus, maxime placeat enim tempore magnam architecto, recusandae dolor deserunt ipsa consequuntur in!

                .add-comment 
                    input(type="text", placeholder="Ваш комментарий")
                    button.button.send ОК

    
    script(type="text/x-ejs-template", template="post-reactions")
        ul.styled-scroll(style="margin:0;overflow-y:auto;max-height:500px; width:max-content;list-style-type:none;padding:0;")
            <% reactions.forEach(r => { %>
            li(style="display:flex;width:100%;justify-content:space-between;align-items:center;gap:30px;")
                a.button.light.user(href!="/user?id=<%=r.user_id%>", style="display:flex;gap:8px;align-items:center")
                    img.avatar(src!="/getuseravatar?id=<%=r.user_id%>", style="height:40px;width:40px")
                    span.name <%= r.user_name %>
                span.reaction <%= r.type == 1? '👍' : '👎' %>
            <% }) %>
