
append header
    style 
        include style.css 

append body
    script 
        include script.js
    script(type="text/x-ejs-template", template="post-reactions")
        ul 
            <% reactions.forEach(r => %>
            li 
                a.button.light.user(href!="/user?id=<%=r.user_id%>")
                    img.avatar(src!="/getuseravatar?id=<%=r.user_id%>")
                    span.name <% r.user_name %>
                span.reaction <% r.type == 1? 'ðŸ‘' : 'ðŸ‘Ž' %>
            <% }) %>
