.feed {
    margin-top:15px;
}

.post:not(:first-child) {
    margin-top:12px;
}

.post {
    padding:13px;
}

.post .top-bar {
    max-width: 100%;
    margin:0;
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr;
    row-gap:0px;
    column-gap:8px;
    width:max-content;
    color:black;
    text-decoration: none;
}

.post .top-bar .avatar {
    height:45px;
    grid-row:1/3;
}

.post .top-bar * {
    margin:0;
}

.post .top-bar .name {
    align-self:end;
}

.post .top-bar .datetime {
    color:#2d2d2d;
    font-size:0.8em;
    align-self:center;
}

.post .top-bar:hover {
    background:#0000002d;
}

.post .title {
    font-weight: bold;
    font-size:1.25em;
    margin-top:5px;
    overflow:hidden;
    text-overflow:ellipsis;
    line-clamp: 2; 
    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
}

.post .content {
    margin-top:8px;
}

.post .actions {
    margin-top:10px;
    display:flex;
    gap: 7px;
}

.post .actions .chosen {
    background:grey;
}

.post .actions .donate {
    outline:none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.post .actions .donate::-ms-expand {
    display: none;
}

@media (max-width:750px) {

    .post {
        padding: 7px 10px;
    }

}