append style 
    include style.css 
append script 
    include script.js 
append body 
    script(template="popup", type="text/x-ejs-template")
        .popup(class!="<% className %>")
            .window.block
                .inner 
                    input.thin.close-btn(type="button", value="X")
                    h1.title
                    .content <%- html %>
                    .buttons 
