append style 
    include style.css 
append script 
    include script.js 
append body 
    .popup
        .window.block
            .inner 
                input.thin.close-btn(type="button", value="X")
                h1.header
                .content 
                .buttons 