.stats {
  box-sizing:content-box;
  width:max-content;
  padding-right:50px;
}

.stats .balance {
  display:block;
  margin:0;
  font-weight:bold;
  font-size:25px;
}

.stats .capital {
  font-size:17px;
  display:block;
  margin-top:7px;
  margin-bottom:0;
}
