.stats {
  box-sizing:content-box;
  width:max-content;
  padding-right:50px;
}

.stats .balance {
  display:block;
  margin:0;
  font-weight:bold;
  font-size:25px;
}

.stats .capital {
  font-size:17px;
  display:block;
  margin-top:7px;
  margin-bottom:0;
  font-style:italic;
}

.capitallb {
  margin-top:20px;
  width:100%;
}

.capitallb tr:nth-child(2n) {
  background:#00000023;
}

.capitallb td, .capitallb th {
  padding:5px 8px;
}

.capitallb .user {
  display:flex;
  align-items: center;
  gap:10px;
}

.capitallb .user .avatar {
  height:40px;
}

.capitallb .capital, .capitallb .balance {
  text-align: center;
}

