.game-list {
    margin:0;
    padding:0;
    width:100%;
}

.game-tile {
    cursor:pointer;
    transition:background-color 125ms linear;
}

.game-tile:hover {
    background-color:#d3d3d3;
}

.game-tile:hover .title {
    text-decoration: underline;
}

.game-tile:not(:first-child) {
    margin-top:12px;
}

.game-tile .title {
    display:inline-block;
    width:100%;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    font-weight: bold;
    font-size:1.1em;
    margin-bottom:5px;
   
}

.game-tile .description {
    overflow:hidden;
    text-overflow:ellipsis;
    line-clamp: 2; 
    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
    margin:0;
}