.user {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:25px;
    width:100%;
}

.user .avatar {
    height:130px;
}

.user .info > * {
    display:block;
    margin-bottom:0;
}

.user .name {
    margin-top:0;
}

.user .tag {
    color:grey;
}

.user .actions {

}

.user .actions > * {
    margin-top:5px;
    margin-bottom:0;
    display:block;
}