.user-checklist {
    max-height:400px;
    overflow-y:auto;
    list-style-type: none;
    display:flex;
    flex-direction: column;
    gap:6px;
    width:100%;
    padding:0;
}

.user-checklist li {
    width:100%;
} 

.user-checklist li button {
    display:flex;
    gap:6px;
    align-items:center;
    width:100%;
}

.user-checklist li span {
    width:100%;
}

.user-checklist input {
    pointer-events: none;
}