append header
  style
    include style.css

append body
  .notification
    .inner
      img.avatar(src="/getuseravatar?id=1")
      .text-column
        h3.title Нотификация
        p.text тест тест тест тест

  script
    include script.js
