append header
  style
    include style.css

append body
  .notification
    img.avatar(src="/getuseravatar?id=-1")
    h3.title Нотификация
    p.content тест тест тест тест
  
  script
    include script.js
