append header
  style
    include style.css

append body
  .block.focus-notification
      .inner
          img.avatar(src="/getuseravatar?id=1")
          .text-column
              h3.title Нотификация
              p.text тест тест тест тест
  script
    include script.js
