
.notification {
  display:none;
  position:fixed;
  bottom:20px;
  right:8px;
  min-height:100px;
  min-width:max(250px, calc(100% - 16px));
  max-width:min(calc(100% - 16px), 400px);
  background:white;
  box-shadow: 0 0 2px 0 black;
  padding-top:12px;
  padding-bottom:12px;
  padding-left:18px;
  padding-right:20px;
  border-radius:20px;
}

.notification .inner {
  display:flex;
  gap:14px;
  pointer-events:none;
}

.notification .text-column {
  padding-top:6px;
  display:flex;
  flex-direction: column;
  gap:8px;
}

.notification .inner * {
  margin:0;
}

.notification .title {
  font-size:20px;
}

.notification .avatar {
  height:70px;
}

.notification .text {
  font-size:17px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; 
          line-clamp: 2; 
  -webkit-box-orient: vertical;
}

@keyframes notification-open {
  from {
    transform:translate(calc(100% + 8px), 0)
  }
  to {
    transform:translate(0, 0)
  }
}

@keyframes notification-close {
  from {
      transform:translate(0, 0)
  }
  to {
    transform:translate(calc(100% + 8px), 0)
  }
}
