
.notification {
  position:fixed;
  bottom:16px;
  right:8px;
  min-width:200px;
  min-height:50px;
  max-width:min(100%, 400px);
  background:white;
  box-shadow: 0 0 2px 0 black;
  padding:12px;
  border-radius:20px;
}

.notification .inner {
  display:grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  gap:10px;
  pointer-events:none;
}

.notification .inner > * {
  margin:0;
}

.notification .title {
  background:red;
  font-size:20px;
}

.notification .avatar {
  background:green;
  grid-row:1/3;
  height:70px;
}

.notification .text {
  background:grey;
  font-size:17px;
}

@keyframes notification-open {
  from {
    transform:translate(100%, 0)
  }
  to {
    transform:translate(0, 0)
  }
}

@keyframes notification-close {
  from {
      transform:translate(0, 0)
  }
  to {
    transform:translate(100%, 0)
  }
}
