
.notification {
  display:none;
  position:fixed;
  bottom:20px;
  right:8px;
  min-width:250px;
  min-height:100px;
  max-width:min(100%, 400px);
  background:white;
  box-shadow: 0 0 2px 0 black;
  padding:12px;
  padding-right:20px;
  border-radius:20px;
}

.notification .inner {
  display:flex;
  gap:14px;
  pointer-events:none;
}

.notification .text-column {
  padding-top:6px;
  display:flex;
  flex-direction: column;
  gap:8px;
}

.notification .inner * {
  margin:0;
}

.notification .title {
  font-size:20px;
}

.notification .avatar {
  height:70px;
}

.notification .text {
  font-size:17px;
}

@keyframes notification-open {
  from {
    transform:translate(calc(100% + 8px), 0)
  }
  to {
    transform:translate(0, 0)
  }
}

@keyframes notification-close {
  from {
      transform:translate(0, 0)
  }
  to {
    transform:translate(calc(100% + 8px), 0)
  }
}
