append style 
    include style.css 
append script 
    include script.js 
append body
    hidden#h-inspect 
        .inspect 
            input.trans.left(type="button")
            input.trans.right(type="button") 