append style 
    include style.css 
append script 
    include script.js 
append body
    script(type="text/x-ejs-template", template="inspect")
        .inspect 
            input.trans.left(type="button")
            input.trans.right(type="button") 
