
.chat-settings {
    width:400px;
    display:grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(3, auto);
    row-gap:5px;
    column-gap:20px;
}

.chat-settings .avatar {
    height:70px;
    grid-row:1/3;
    align-self:center;
    justify-self:center;
    cursor:pointer;
}

.chat-settings input.name, input#descr {
    align-self:center;
    width: 100%;
}

.chat-settings input.name {
    font-weight:bold;
}

.chat-settings .description {
    word-wrap: break-word;
    max-height:150px;
    width:100%;
    overflow-x:hidden;
    overflow-y:auto;
}

.chat-settings .description::-webkit-scrollbar {
    display: none;
}

.chat-settings .description p {
    display: none;
    margin:0;
}

.chat-settings .description textarea {
    resize:vertical;
    width:100%;
    min-height:70px;
    max-height:100%;

}

.chat-settings .ispublic {
    display:flex;
    align-items: flex-start;
    gap:5px;
    grid-column:2;
}

.chat-settings .ispublic > * {
    cursor:pointer;
}

.chat-settings .ispublic label {
    user-select: none;
}

.chat-settings .delete-avatar {
    display:none;
}